/*
#191f28
#4b584f 
#7e91ae
#8e9f93
*/

* {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    min-width: 350px;
    background-color: rgba(198,207,220, 0.20);
  }

  a {
    text-decoration: none;
    color: #191f28;
  }

  a:visited {
    text-decoration: none;
    color:#191f28;
  }

  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }
  
  
  /*header css */
  .header {
    background-image: linear-gradient(rgba(35, 36, 37, 0.2), rgba(35, 36, 37, 0.20)), url("images/green_dress.jpeg");
    background-size: cover;
    width: 100%;
    height: 1100px;
    margin: 0;
    padding: 0;
  }

  .header-text {
    text-align: left;
    color: white;
    font-family: "Dancing Script", cursive;
    padding-top: 150px;
    padding-left: 500px;
  }
  .header h1 {
    padding-top: 0px;
    margin: 10px auto;
    font-size: 120px;
  }

  .header h3 {
    padding-top: 0px;
    margin-top: 0;
    font-size: 70px; 
  }

  .navbar li a {
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    text-transform: lowercase;
  }
  .navbar li a:hover {
    color: #8e9f93; 
  }

  
  .navbar li {
    display: inline-block;
  }
  
  .navbar ul {
    /* z-index: 500;
    position: fixed; */
    top: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px;
    
  }
  
  .navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
/*body css */

.sizzle-container {
  display: flex;
  justify-content: center; 
  margin:0 auto;
  
}
.sizzle {
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 10px; 
    overflow: hidden;
    width: 853px;
    height: 505px; 
}
.intro-container {
  height: 900px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 30px 0;
   
}

.headshot img {
    padding-top: 30px;
    margin: auto;
    display: flex;
    max-width: 500px;
    height: auto;
    width: 90%;
}
  .intro-bio {
    max-width: 600px;
    margin: 0 40px;
  }

  .intro-bio p {
    font-size: 20px;
    line-height: 1.8;
  }

  .btn {
    margin-top: 30px;
  }

  .about-btn {
    border: 3px solid #191f28;
    padding: 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .quote-container {
    height:700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px auto;
    padding: 30px 0;  
}

  .quote {
    max-width: 600px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
    padding: 80px 0;
    line-height: 1.5;
  }

  .author {
    font-weight: 400;
    font-size: 0.9em;
  }

  .reporting img {
    padding-top: 30px;
    margin: auto;
    display: flex;
    max-width: 600px;
    height: auto;
    width: 90%;
}


  .reel-container {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 100px auto;
    padding: 30 0;
    
}

.reel {
  border-radius: 10px; 
    overflow: hidden;
    width: 560px;
    height: 315px; 
}

  /* footer css */
.footer {
    
    margin-top: 0;
    width: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: center;
  }
  .footer-links li a {
    font-size: 22px;
    color: #8e9f93;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  .footer-links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px;
  }
  
  .footer-links li {
    display: inline-block;
  }

  /* resume css */
  .navbar-alt li a {
    font-size: 22px;
    color: #191f28;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    text-transform: lowercase;
  }
  .navbar-alt li a:hover {
    color: #8e9f93; 
  }

  .navbar-alt li {
    display: inline-block;
  }
  
  .navbar-alt ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 14px; 
  }
  
  .navbar-alt {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .header-resume {
    height:700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px auto;
    padding: 30px 0;  
}

  .header-quote {
    max-width: 600px;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
    padding: 80px 0;
    line-height: 1.5;
  }

  .author {
    font-weight: 400;
    font-size: 0.9em;
  }

  .resume-img img{
    padding-top: 30px;
    padding-left: 80px;
    margin: auto;
    display: flex;
    max-width: 800px;
    height: auto;
    width: 90%;
}
  
.resume {
  
  display: grid;
  grid-template-columns: 30rem 50rem;
  margin: 0 0 100px 140px;
  
}

.work p {
  font-size: 20px;
  line-height: 1.4;
}



